.navbar {
    position: sticky;
    top: 0;
    z-index: 5000;
    border-bottom: 1px solid #ececec;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.navbar-mg {
    margin: 0 10vw;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
}

.navbar-tl {
    display: flex;
    background-color: antiquewhite;
}

.divider {
    margin: 0 8px;
}

.dropdown ul {
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar-mg {
        background-color: aqua;
        margin: 0px;
    }
}

.navbar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.navbar-search {
    height: 50px;
}

.logo {
    height: 50px;
    width: auto;
}

.navbar-ml {
    display: flex;
    align-items: center;
}

.navbar-ml .menu {
    margin-right: 35px;
}

.navbar-mc {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid #0097ee;
    border-radius: 30px;
    
}

.navbar-search {
    height: 16px;
    width: 500px;
    margin-right: 10px;
    border: #fff;
}

